# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

# Maven
target/
dist/
boot/dependency-reduced-pom.xml

# JetBrains IDE
.idea/
*.iml

# License
LICENSES

# VS Code
.vscode/.run/
