[Unit]
Description=Carbonio docs connector daemon
Wants=network.target
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/zextras/common/bin/java \
  -Djava.net.preferIPv4Stack=true \
  -Xmx128m \
  -DLOG_LEVEL=warn \
  -jar /usr/bin/carbonio/docs-connector/carbonio-docs-connector.jar
User=carbonio-docs-connector
Group=carbonio-docs-connector
Restart=on-failure
RestartSec=15
TimeoutSec=60
TimeoutStopSec=120


[Install]
WantedBy=multi-user.target
